@font-face {
    font-family: 'Bowler';
    src: url('./fonts/Bowler.ttf') format('truetype');
}

@font-face {
    font-family: 'DaMiOne';
    src: url('./fonts/DaMiOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Imprint MT';
    src: url('./fonts/IMPRISHA.TTF') format('truetype');
}

@font-face {
    font-family: 'Involve-Medium';
    src: url('./fonts/Involve-Medium.ttf') format('truetype');
}

body {
    --overflow: hidden; /* Используйте overflow: hidden, чтобы избежать лишней полосы прокрутки на body */
	overflow-y: auto;
	background-color: #050505;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Involve-Medium', sans-serif;
	font-size: 10px;
}

.hot_links {
	top: 0;
	position: sticky;
	z-index: 1;
	margin: 5px 2px;
	padding: 5px 5px;
	background-color: #151515;
}

.icons {
	display: flex;
	--flex-wrap: wrap;
	flex-flow: row wrap;
}

.icons > a > img {
	filter: grayscale(0.85);
	--filter: grayscale(0.85) blur(1px);
	transition: 0.3s;	
	padding-right: 15px;
	width: 50px;
	--width: minmax(25px, 40px);
}

.icons > a:hover {
	background: none;
	text-decoration: none;
}

.icons > a > img:hover {
	filter: grayscale(0);
}

/*======================================================================================================*/

.grid_container {
	display: grid;		
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 0.3vw;
	margin: 0px 5px;
}

.details {
	border-radius: 5px;	
	padding: 3px 10px;	
	margin: 2px 2px 5px 0px;	
	font-size: 14px;
	text-align: left;
	background: rgba(45, 45, 45, 0.2);
	font-size: 12px;
}

.details:hover {
	background-color: #1a1a1a;
	cursor: pointer;
}

.summary {
	padding: 3px 10px;	
	--margin: 3px;
	border-radius: 5px;	
	text-shadow: 1px 1px DarkSlateBlue;
	background: rgba(45, 45, 45, 0.8);	
	color: LavenderBlush;
}


ol, ul {
	padding: 0; /* Убираем поля */
	margin-left: 18px; /* Отступ слева */
	color: Gray;
	line-height: 1.5;
}

a {
	color: Silver; /*Цвет ссылок*/;	
	text-decoration: none;
}

a:hover {
	color: LavenderBlush;
	background: LightSlateGrey;
	border-radius: 2px;
	padding: 1px 1px;
	--padding: 1px;
	--font-size: 1vw;
}

@media screen and (max-width: 1280px) {
	.grid_container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 0.3vw;
		margin: 0px 5px;
		--margin-left: auto;
        --margin-right: auto;		
	}

	.details {
		border-radius: 5px;
		padding: .5em;	
		margin: 2;
		font-size: 12px;
		text-align: left;
		border: 1px solid #151515;		
		background: rgba(45, 45, 45, 0.2);
	}
}

@media screen and (max-width: 960px) {
	.grid_container {
		display: grid;		
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 0.3vw;
		margin: 0px 5px;		
	}

	.details {
		border-radius: 5px;
		padding: .5em;	
		margin: 2;
		font-size: 12px;
		text-align: left;
		border: 1px solid #151515;		
		background: rgba(45, 45, 45, 0.2);
	}
}

@media screen and (max-width: 768px) {
	.grid_container {
		display: grid;		
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 0.3vw;
		margin: 0px 5px;
		--margin-left: auto;
        --margin-right: auto;		
	}

	.details {
		border-radius: 5px;
		padding: .5em;	
		margin: 2;
		font-size: 12px;
		text-align: left;
		border: 1px solid #151515;		
		background: rgba(45, 45, 45, 0.2);
	}
}