@font-face {
    font-family: 'Bowler';
    src: url('./fonts/Bowler.ttf') format('truetype');
}

@font-face {
    font-family: 'DaMiOne';
    src: url('./fonts/DaMiOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Imprint MT';
    src: url('./fonts/IMPRISHA.TTF') format('truetype');
}

@font-face {
    font-family: 'Involve-Medium';
    src: url('./fonts/Involve-Medium.ttf') format('truetype');
}

body {
    --overflow: hidden; /* Используйте overflow: hidden, чтобы избежать лишней полосы прокрутки на body */
	overflow-y: auto;
	background-color: #050505;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Involve-Medium', sans-serif;
	font-size: 10px;
}

.hot_links {
	top: 0;
	position: sticky;
	z-index: 1;
	margin: 5px 2px;
	padding: 5px 5px;
	background-color: #151515;
}

.icons {
	display: flex;
	--flex-wrap: wrap;
	flex-flow: row wrap;
}

.icons > a > img {
	filter: grayscale(0.85);
	--filter: grayscale(0.85) blur(1px);
	transition: 0.3s;	
	padding-right: 15px;
	width: 50px;
	--width: minmax(25px, 40px);
}

.icons > a:hover {
	background: none;
	text-decoration: none;
}

.icons > a > img:hover {
	filter: grayscale(0);
}

/*======================================================================================================*/

.grid_container {
	display: grid;		
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 0.3vw;
	margin: 0px 5px;
}

.details {
	cursor: pointer;
	--background: rgba(45, 45, 45, 0.2);
	border-radius: 5px;	
	padding: 2px 2px;	
	margin: 2px 2px 1px 0px;		
	text-align: left;	
	font-size: 12px;
}


.summary {
	padding: 5px 8px; /*отступы внутри заголовка блока*/
	--margin: 3px;
	border-radius: 5px;	
	text-shadow: 1px 1px DarkSlateBlue;
	background: rgba(45, 45, 45, 0.8);	
	color: LavenderBlush;	
}

.summaryGroup {
	color: LightCyan;
	font-weight: 550;
}


ol, ul {
	--padding-left: 25px;
	--margin: 0px;
	margin-top: 1px;
	padding: 5px 3px 5px 25px;
	color: rgb(143, 143, 143);
	line-height: 1.5;
}


.board {
	margin-left: 10px;
	background: rgba(45, 45, 45, 0.5);	
	border-radius: 5px;
}

/*
.details:hover .summary, .details:hover .board {	
	background: rgba(55, 67, 99, 0.5);
	--box-shadow: 0 0 3px rgb(102, 128, 153);
}
*/

.details:hover .summary{	
	background: rgba(55, 67, 99, 0.8);
	box-shadow: 0 0 2px rgb(230, 230, 230);
}
.details:hover .board {	
	background: rgba(55, 67, 99, 0.35);
	box-shadow: 0 0 2px rgb(157, 158, 224);
}

a {
	color: Silver; /*Цвет ссылок*/;	
	text-decoration: none;
}

a:hover ,summary:hover {
	color: LavenderBlush;	
	--text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 40px #0000ff, 0 0 80px #0000ff, 0 0 90px #0000ff, 0 0 100px #0000ff, 0 0 150px #0000ff;
	background: LightSlateGrey;
	border-radius: 2px;
	--padding: 1px 1px;
}

.hr_head {
	border: none;	/* Убираем стандартную рамку */
	height: 3px; /*Толщина линии*/
	width: 100%; /* Задаёт длину линии */
	margin: 3px 0;	/* Отступы сверху и снизу */
	background-color: rgb(187, 187, 187);	/* Цвет (если нет border) */
}

hr {
	border: none; /* Убираем стандартную рамку */
	height: 1px; /* Толщина линии */
	margin-left: -5%;
	margin-right: 5%;
	margin-top: 1px;
	margin-bottom: 1px;
	--width: 95%; /* Задаёт длину линии */	
	background-color: rgb(50, 50, 50);
	--background-color: rgb(0, 0, 0);
}

dd {
	margin-left: 15px;	
}



@media screen and (max-width: 1280px) {
	.grid_container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 0.3vw;
		margin: 0px 5px;		
	}
}

@media screen and (max-width: 960px) {
	.grid_container {
		display: grid;		
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 0.3vw;
		margin: 0px 5px;		
	}
}

@media screen and (max-width: 768px) {
	.grid_container {
		display: grid;		
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 0.3vw;
		margin: 0px 5px;		
	}
}
